<!DOCTYPE html>
<html>
<title>Webpage</title>
<body>
<h1>Weather Suggestion Webpage</h1>
<form method="post" >
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="uname">User name:</label><br>
  <input type="text" id="uname" name="uname"><br>
  <label for="pword">Password:</label><br>
  <input type="password" id="pword" name="pword"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="mint">Minimum Comfortable Temperature (Register Only):</label><br>
  <input type="text" id="mint" name="mint"><br>
  <label for="maxt">Maximum Comfortable Temperature (Register Only):</label><br>
  <input type="text" id="maxt" name="maxt"><br>
  <input type="submit" formaction="/login" value="Login">
  <input type="submit" formaction="/register" value="Register">
</form>
</body>
</html>